.content {
    margin-top: 75px;
    position: relative;
}

.is-required {
    font-size: 10px;
    color: red;
}



input {
    width: 100%;
    text-align: right; 
}

button , .spacing {
    margin-top: 10px;
}