<div class="container content">
    <div class="row justify-content-md-center">
      <div class="col-6 box">
              <form action="" class="" (ngSubmit)="onSubmit()" #generatePasswordForm="ngForm">
               <div class="row">

                <div class="col-4 spacing">
                  <label>Nombre:</label>
                </div>
                <div class="col-8 spacing">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="userModel.name"  class="input" required>
                </div>
                <div class="col-12">
                    <span *ngIf="!name.valid && name.touched" class="is-required">
                        El nombre es obligatorio
                      </span>
                </div>

                <div class="col-4 spacing">
                  <label>Correo:</label>
                </div>
                <div class="col-8 spacing">
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="userModel.email" class="input" required>
                </div>
                <div class="col-12">
                    <span *ngIf="!email.valid && email.touched" class="is-required">
                        El correo es obigarorio
                      </span>
                </div>

                <div class="col-6 spacing">
                    <label>Cédula:</label>
                </div>
                <div class="col-6 spacing">
                      <input type="text" name="id" #id="ngModel" [(ngModel)]="userModel.id" class="input" required>      
                </div>
                <div class="col-12">
                    <span *ngIf="!id.valid && id.touched" class="is-required">
                        La cédula es obligatoria
                      </span>
                </div>

                <div class="col-12 spacing  ">
                    <label for="power">Departamento:</label>
                    <select class="form-control" id="power" name="id" #department="ngModel" [(ngModel)]="userModel.department" required>
                      <option *ngFor="let dep of departments" [value]="dep">{{dep}}</option>
                    </select>
                  </div>
                  

                <div class="col-12 spacing">
                    <button class="btn btn-outline-primary btn-lg btn-block outline"
                    [disabled]="!generatePasswordForm.form.valid" id="generate-passwor-button" type="submit">Generar Contraseña</button>
                </div>
              </div>
             </form>
             <button class="btn btn-outline-danger btn-lg btn-block outline" (click)="goBack()"
             id="back-generate-passwor-button" type="submit">Regresar</button>
      </div>
    </div>
  </div>
  
  