
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color:#904790;
    height: 150px
  }

li {
    padding: 1px;
    list-style-type: none;
}
a {
    font-size: 10px;
    color: white;
}