<footer class="footer">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-5">
              <ul class="">
                  <li class=""><a href="">Universidad Tecnológica de Panamá</a></li>
                  <li class=""><a href="">Dirección: Avenida Universidad Tecnológica de Panamá, Via Puente Centenario Campus Metropolitano Victor Levi Saso</a></li>
                  <li class=""><a href="">Teléfono: (507) 560-3000</a></li>
                  <li class=""><a href="">Correo electrónico: buzondesugerencias@utp.ac.pa</a></li>
                </ul>
          </div>
          <div class="col-3">
              <ul class="">
                  <li class=""><a href="">UTP TELEFONO</a></li>
                  <li class=""><a href="">UTP TELEFONO</a></li>
                  <li class=""><a href="">UTP TELEFONO</a></li>
                  <li class=""><a href="">UTP TELEFONO</a></li>
                  <li class=""><a href="">UTP TELEFONO</a></li>
                </ul>
          </div>
          <div class="col-3">
              <ul class="">
                  <li class=""><a href="">UTP TELEFONO</a></li>
                  <li class=""><a href="">UTP TELEFONO</a></li>
                  <li class=""><a href="">UTP TELEFONO</a></li>

                </ul>
          </div>
        </div>
</footer>