<div class="container content">
    <div class="row justify-content-md-center">
        <div class="col-4 box">
            <button class="btn btn-outline-primary btn-lg btn-block outline" id="home-button" type="submit" (click)="openPage('/final-report')">Generar Reporte Final
          </button>
            <button class="btn btn-outline-primary btn-lg btn-block outline" id="home-button" type="submit" (click)="openPage('/create-user')">Crear Usuario
          </button>
            <button class="btn btn-outline-primary btn-lg btn-block outline" id="home-button" type="submit" (click)="openPage('/manage-employees')">Administrar Colaboradores
          </button>
        </div>
    </div>
</div>