<div class="container content">
  <div class="row justify-content-md-center">
    <div class="col-4 box">
            <form action="" class="" (ngSubmit)="onSubmit()" #login="ngForm">
             <div class="row">
              <div class="col-6">
                <label>Usuario:</label>
              </div>
              <div class="col-6">
                  <input type="text" class="input" required>
              </div>
              <div class="col-6">
                <label>Contraseña:</label>
              </div>
              <div class="col-6">
                  <input type="text"  class="input" required>
              </div>
              <div class="col-12">
                  <button class="btn btn-outline-primary btn-lg btn-block outline"
                  [disabled]="!login.form.valid" id="login-button" type="submit">Ingresar</button>
              </div>
            </div>
           </form>
           <div class="forgot-password">
              <a href=""><span>Olvidé mi contraseña</span></a>
           </div>
    </div>
  </div>
</div>

