.content {
    margin-top: 75px;
    position: relative;
}

.input {
    border-radius: .1em;
    margin-right: 40px;
}

.col-6{
    margin-top:15px;
}

.btn {
    margin-top:30px;
}

.forgot-password {
    margin: auto;
}

.is-required {
    font-size: 10px;
    color: red;
}

button:disabled {
    color:#717782;
    border: 1px solid #717782;
}